<div class="container container-fluid mt-10">
  <h3 class="text-center mb-5">Войдите в ваш аккаунт</h3>
  <div class="card w-50 mx-auto my-auto">
    <div class="card-body p-5">
      <form>
        <div class="form-group">
          <div
            *ngIf="this.wrongCred"
            class="alert alert-danger pb-0"
            @fadeInDown
          >
            <p class="alert-heading">Неверный логин или пароль</p>
          </div>

          <div
            *ngIf="
              (userLogin.hasError('minlength') && userLogin.touched) ||
              (userPassword.hasError('minlength') && userPassword.touched)
            "
            class="alert alert-danger pb-0"
            @fadeInDown
          >
            <p class="alert-heading">
              Длины логина и пароля должны быть не менее 2-х символов
            </p>
          </div>

          <div
            *ngIf="
              (userLogin.hasError('pattern') && userLogin.touched) ||
              (userPassword.hasError('pattern') && userPassword.touched)
            "
            class="alert alert-danger pb-0"
            @fadeInDown
          >
            <p class="alert-heading">
              Логин и пароль не могут содержать пробелы и кириллицу
            </p>
          </div>

          <label for="login">Логин</label>
          <input
            type="text"
            class="form-control"
            pattern="[A-Za-z0-9]*"
            name="login"
            minlength="2"
            ngClass=""
            [(ngModel)]="userAuthData.username"
            #userLogin="ngModel"
            [ngClass]="{
              'is-invalid':
                (userLogin.hasError('pattern') ||
                  userLogin.hasError('minlength')) &&
                userLogin.touched
            }"
            id="login"
            placeholder="Введите ваш логин..."
            required
          />
        </div>
        <div class="form-group">
          <label for="password">Пароль</label>
          <input
            type="password"
            class="form-control"
            pattern="[A-Za-z0-9]*"
            name="password"
            minlength="2"
            [(ngModel)]="userAuthData.password"
            #userPassword="ngModel"
            [ngClass]="{
              'is-invalid':
                (userPassword.hasError('pattern') ||
                  userPassword.hasError('minlength')) &&
                userPassword.touched
            }"
            id="password"
            placeholder="Введите ваш пароль..."
            required
          />
        </div>
        <div class="row">
          <div class="col-8">
            <input
              type="checkbox"
              class="form-check-input me-1"
              id="remember"
            />
            <label class="form-check-label" for="remember"
              >Запомнить меня</label
            >
          </div>
          <div class="col">
            <a routerLink="../register">Зарегистрироваться</a>
          </div>
        </div>
        <button
          (click)="authorizeUser()"
          type="submit"
          class="btn btn-primary w-100 mt-2 mb-3"
          [disabled]="
            userLogin.invalid || userPassword.invalid || userLogin.untouched
          "
        >
          Войти
        </button>
      </form>
      <h6><span class="text-secondary">Или войти через</span></h6>
      <button class="btn btn-outline-primary w-100">
        <i class="bi bi-github"></i>
      </button>
    </div>
  </div>
</div>
