.bg-primary {
  background-color: #e7fafe !important;
}

.bg-grey {
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.05);
  width: 10rem;
}

.scale {
  object-fit: cover;
}

.card {
  border: 0px;
  min-height: 40rem;
}

.carousel-control-prev {
  height: 25%;
  width: 10%;
  margin-top: 20%;
  left: 0;
  transition: all 0.5s;
}

.carousel-control-prev:hover {
  transform: scale(1.5);
}
.carousel-control-next:hover {
  transform: scale(1.5);
}

.carousel-control-next {
  height: 25%;
  width: 10%;
  margin-top: 20%;
  right: 0;
  transition: all 0.5s;
}

.rounded-circle {
  max-width: 7rem;
  max-height: 7rem;
}

.card-title {
  font-weight: 600;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.btn:hover {
  transform: scale(1.05);
}

.btn {
  transition: all 0.5s;
}
