<div *ngIf="bannerState && !isErrorPage" class="banner fixed-bottom p-3">
  <img src="../../assets/Speakerphone.svg" class="ms-5 me-3" />
  <span>Хорошие новости! Мы открыли наш интернет-магазин</span>
  <a (click)="removeBanner()" class="float-end me-5"
    ><img src="../../assets/X.svg"
  /></a>
</div>

<div class="footer" *ngIf="!isErrorPage">
  <hr />
  <div class="d-flex justify-content-between p-4 mb-2">
    <div class="col-10">
      <span class="text-secondary">© 2023 Foodie, Все права защищены.</span>
    </div>
    <div class="col-1">
      <i class="bi bi-github p-2"></i>
      <i class="bi bi-globe p-2"></i>
    </div>
  </div>
</div>
