<div class="container container-sm mt-10">
  <h1 class="header fw-bold mt-5">Каталог рецептов</h1>
  <div class="row">
    <i class="bi bi-search col-auto me-2 my-auto p-0"></i>
    <input
      type="text"
      class="form-control w-50 col-2"
      id="search"
      (keyup)="search()"
      [(ngModel)]="searchText"
    />
  </div>
  <div
    class="alert alert-primary border-0 mt-5"
    *ngIf="filteredPosts.length === 0"
  >
    <h4 class="my-auto text-center">Рецепт с таким названием не найден!</h4>
  </div>
  <div class="row">
    <div class="col-4" *ngFor="let post of filteredPosts; let i = index">
      <div class="card my-4" @fadeInDown>
        <div class="card-body my-auto">
          <button
            class="btn btn-light position-absolute top-1 end-0 me-4 mt-2 rounded-circle"
            (click)="favoriteUpdate(post.id)"
          >
            <i
              class="bi"
              [ngClass]="
                favoriteRecipes.includes(post.id) ? 'bi-heart-fill' : 'bi-heart'
              "
            >
            </i>
          </button>
          <img [src]="post.image" class="card-img-top rounded-4 mb-3" />
          <h4 class="card-title" [routerLink]="'' + post.id">
            {{ post.title }}
          </h4>
        </div>
        <div class="card-footer row-col-3 bg-transparent border-0 px-3 pb-4">
          <span class="fw-light ms-2 me-4"
            ><img src="../../../assets/Timer.svg" />
            {{ post.timeCooking }} минут
          </span>

          <span class="fw-light"
            ><img src="../../../assets/ForkKnife.svg" /> {{ post.tags }}</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
