<div class="row d-flex justify-content-around flex-column">
  <h1 class="mt-10 col-2">Лучшие рецепты</h1>
  <p class="text-secondary">
    На нашем сайте вы найдете лучшие рецепты, которые помогут вам создавать
    великолепные блюда и порадовать своих близких и гостей своим кулинарным
    мастерством.
  </p>
</div>

<div class="container mt-3">
  <div class="row">
    <div class="col-3" *ngFor="let recipe of randomRecipes; let i = index">
      <div class="card my-4">
        <div class="card-body my-auto">
          <button
            class="btn btn-light position-absolute top-1 end-0 me-4 mt-2 rounded-circle"
          >
            <i class="bi bi-heart"> </i>
          </button>
          <img [src]="recipe.image" class="card-img-top rounded-4 mb-3" />
          <h4 class="card-title">{{ recipe.title }}</h4>
        </div>
        <div class="card-footer row-col-3 bg-transparent border-0 px-3 pb-4">
          <span class="fw-light ms-2 me-4"
            ><img src="../../../assets/Timer.svg" />
            {{ recipe.timeCooking }} минут
          </span>

          <span class="fw-light"
            ><img src="../../../assets/ForkKnife.svg" /> {{ recipe.tags }}</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
