<div class="card mt-5 p-5 pb-4 mb-5">
  <div class="card-body">
    <div class="row">
      <div class="col-7">
        <h5>Хотите получать новые рецепты?</h5>
        <p class="text-secondary">
          Не пропустите ни одного вкусного рецепта! Подпишитесь на нашу
          рассылку, чтобы получать новые кулинарные идеи и рецепты прямо в свою
          почту.
        </p>
      </div>

      <div class="col my-auto">
        <div *ngIf="subscribed" class="alert alert-success pt-3 pb-2">
          <h6 class="alert-heading">Вы успешно подписались на рассылку!</h6>
        </div>

        <form class="form row g-2">
          <div class="col-xl-auto col-sm-12">
            <input
              class="form-control"
              #emailInput="ngModel"
              [(ngModel)]="emailString"
              name="email"
              pattern="[A-Za-z0-9][A-Za-z0-9]*[@][A-Za-z][A-Za-z]*[.][a-z][a-z]*"
              placeholder="Введите ваш email..."
              required
            />
          </div>
          <div class="col-xl-auto">
            <button
              class="btn btn-primary"
              [disabled]="
                emailInput.invalid ||
                (subscribed && !emailInput.hasError('required'))
              "
              (click)="subscribeUser()"
            >
              Подписаться
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
