<nav
  class="navbar navbar-expand-md bg-body border-bottom py-3"
  *ngIf="!isErrorPage"
>
  <div class="container-fluid ms-5">
    <a class="navbar-brand fw-semibold" routerLink="">Foodie</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      [ngClass]="{ 'col-12': currentUser.isAuth }"
      id="navbarNavDropdown"
    >
      <div class="container container-fluid ps-5">
        <ul class="navbar-nav justify-content-center ps-5">
          <li class="nav-item">
            <a class="nav-link" routerLink="">Главная</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="recipe">Каталог рецептов</a>
          </li>
        </ul>
      </div>

      <div
        *ngIf="
          this.currentRole === 'user' || this.currentRole === 'admin';
          else userGuest
        "
        class="nav-item dropdown d-flex justify-content-center align-items-center"
      >
        <i
          class="col-1 bi bi-pencil-square z-1 mx-0 my-auto p-2"
          style="font-size: 1.5rem"
          routerLink="create-recipe"
        ></i>
        <a
          class="nav-link me-5 ms-0 z-0"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <div class="row justify-content-start align-items-center">
            <img
              [src]="this.currentUser.image"
              class="col-2 scale py-1 ms-3 me-0 my-auto rounded-circle"
            />
            <div class="col-8 ms-0 me-0 pe-0">
              <span>{{ this.currentUser.fullname }}</span
              ><br />
              <span class="text-secondary">{{
                this.rolesMap.get(this.currentRole)
              }}</span>
            </div>
          </div>
        </a>

        <ul class="dropdown-menu dropdown-menu-md-center" @fadeInDown>
          <li>
            <span class="dropdown-item-text fw-light"
              >Вы вошли как {{ this.currentUser.username }}</span
            >
          </li>
          <li><hr class="dropdown-divider" /></li>
          <li>
            <a class="dropdown-item fw-light">Настройки аккаунта</a>
          </li>
          <li><hr class="dropdown-divider" /></li>
          <li *ngIf="this.currentRole === 'admin'">
            <a class="dropdown-item fw-light" routerLink="admin/users"
              >Администрирование</a
            >
          </li>
          <li><hr class="dropdown-divider" /></li>
          <li>
            <a class="dropdown-item text-danger fw-light" (click)="logOut()"
              >Выход</a
            >
          </li>
        </ul>
      </div>
      <ng-template #userGuest>
        <button class="btn btn-primary me-5 px-4 fw-light" routerLink="auth">
          Войти
        </button>
      </ng-template>
    </div>
  </div>
</nav>
