<div class="container container-fluid mt-10">
  <h3 class="text-center mb-5">Зарегистрируйте ваш аккаунт</h3>
  <div class="card w-50 mx-auto my-auto">
    <div class="card-body p-5">
      <form>
        <div class="form-group">
          <div
            *ngIf="this.wrongCred"
            class="alert alert-danger pb-0"
            @fadeInDown
          >
            <p class="alert-heading">Не удалось создать аккаунт! В</p>
          </div>
          <div
            *ngIf="userPassword.hasError('minlength') && userPassword.touched"
            class="alert alert-danger pb-0"
            @fadeInDown
          >
            <p class="alert-heading">
              Длины пароля должна быть не менее 2-х символов
            </p>
          </div>

          <div
            *ngIf="userPassword.hasError('pattern') && userPassword.touched"
            class="alert alert-danger pb-0"
            @fadeInDown
          >
            <p class="alert-heading">
              Пароль не может содержать пробелы и кириллицу
            </p>
          </div>

          <div
            *ngIf="userEmail.hasError('pattern') && userEmail.touched"
            class="alert alert-danger pb-0"
            @fadeInDown
          >
            <p class="alert-heading">Неверно введена почта</p>
          </div>

          <label for="login">Email</label>
          <input
            type="email"
            class="form-control"
            pattern="[A-Za-z0-9]*[@][A-za-z][A-za-z]*[.][A-Za-z][A-Za-z]*"
            name="email"
            minlength="2"
            ngClass=""
            [(ngModel)]="userRegisterData.email"
            #userEmail="ngModel"
            [ngClass]="{
              'is-invalid':
                (userEmail.hasError('pattern') ||
                  userEmail.hasError('minlength')) &&
                userEmail.touched
            }"
            id="login"
            placeholder="Введите ваш email..."
            required
          />
        </div>
        <div class="form-group">
          <label for="password">Пароль</label>
          <input
            type="password"
            class="form-control"
            pattern="[A-Za-z0-9]*"
            name="password"
            minlength="2"
            [(ngModel)]="userRegisterData.password"
            #userPassword="ngModel"
            [ngClass]="{
              'is-invalid':
                (userPassword.hasError('pattern') ||
                  userPassword.hasError('minlength')) &&
                userPassword.touched
            }"
            id="password"
            placeholder="Введите ваш пароль..."
            required
          />
        </div>
        <button
          (click)="registerUser()"
          type="submit"
          class="btn btn-primary w-100 mt-5 mb-3"
          [disabled]="
            userEmail.invalid ||
            userPassword.invalid ||
            userEmail.untouched ||
            userPassword.untouched
          "
        >
          Зарегистрироваться
        </button>
      </form>
    </div>
  </div>
</div>
