<div class="row">
  <div class="col my-auto d-flex flex-row justify-content-center">
    <div>
      <span class="errCode">401 ОШИБКА</span>
      <h1>Доступ запрещен</h1>
      <p class="text-secondary">У вас нет прав на просмотр этого раздела</p>
      <a (click)="goBack()" class="row py-2 ps-md-0 ps-sm-5 ps-5 ms-3 ms-sm-0"
        >Назад <i class="col ps-1 bi bi-arrow-right"></i
      ></a>
      <a routerLink="" class="row py-2 ps-md-0 ps-sm-5 ps-5 ms-3 ms-sm-0"
        >На главную <i class="col ps-1 bi bi-arrow-right"></i
      ></a>
    </div>
  </div>
  <div class="col">
    <img src="../../../assets/Image.png" class="fill vh-100 vw-50" />
  </div>
</div>
