<div class="mt-10 mx-lg-5 mx-sm-2 mb-5">
  <div class="mt-5 mx-2 row">
    <h1>Панель администрирования</h1>
    <ul class="nav nav-underline nav-fill col-lg-6 col-sm-12">
      <li class="nav-item w-25">
        <a class="nav-link" routerLinkActive="active" routerLink="../users"
          >Управление пользователями</a
        >
      </li>
      <li class="nav-item w-25">
        <a class="nav-link" routerLinkActive="active" routerLink="../recipes"
          >Управление рецептами</a
        >
      </li>
    </ul>
  </div>
</div>
