.mt-10 {
  margin-top: 10rem;
}
.active {
  font-weight: bold;
  /* Другие стили активной вкладки */
}

.mx-8 {
  margin-left: 8rem;
  margin-right: 8rem;
}

.fullbody {
  min-height: 60vh;
}

.nav-link {
  color: #6b7280;
}

.nav-link.active {
  color: #3a3395;
}
