<div class="container container-sm">
  <app-slider></app-slider>
  <app-best-recepies></app-best-recepies>
</div>
<hr />

<div class="container container-sm">
  <div class="row mt-8 mb-5">
    <h1 class="col p-0">Попробуйте эти вкусные рецепты</h1>
    <p class="text-secondary pt-4 col">
      Lorem ipsum dolor sit amet, consectetuipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqut enim ad minim
    </p>
  </div>
  <app-try-recipes></app-try-recipes>
</div>
<hr />

<div class="container container-sm">
  <app-why-us></app-why-us>
  <app-subscribe></app-subscribe>
</div>
