<table class="table ms-4 p-0 me-5 text-start">
  <thead class="table-light">
    <tr>
      <th class="w-50 pe-0" colspan="2">Наименование</th>
      <th class="w-25">Статус</th>
      <th class="w-25">Роль</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of usersInfo">
      <td colspan="1">
        <img [src]="user.image" class="rounded-circle scale" />
      </td>
      <td colspan="1">
        <div class="col-5">
          <span class="fw-bold">{{ user.fullName }}</span
          ><br />
          <span class="text-secondary"> {{ rolesMap.get(user.role) }} </span>
        </div>
      </td>
      <td>
        <span class="text-active">Активен</span>
      </td>
      <td>
        <a href="#">Редактировать</a>
      </td>
    </tr>
  </tbody>
</table>
