.mt-10 {
  margin-top: 10rem;
}

.btn-primary {
  background-color: #3a3395;
  border-radius: 6px;
}

.input-file {
  display: flex;
  width: 512px;
  padding: 22px 26px 26px 26px;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  border-radius: 6px;
  border: 2px dashed var(--gray-300, #d1d5db);
}

.input-file-text {
  padding: 0 10px;
  line-height: 40px;
  display: inline-block;
}
.input-file input[type="file"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}

/* Focus */
.input-file input[type="file"]:focus + .input-file-btn {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.input-file.is-invalid {
  border: 2px dashed var(--gray-300, #c20701);
}

.input-group-text.delete {
  color: #3a3395;
  background-color: white;
  border-left: 0px !important;
}

.file-container {
  border-radius: 10px;
  padding: 5px;
}

input[type="number"] {
  appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
